@model Models.Base.ChangePasswordModel


@using (Ajax.BeginForm("_ChangePassword", "AccountSecurity", new AjaxOptions { OnSuccess = "TCAdmin.Ajax.HandleAjaxResult", OnFailure = "TCAdmin.Ajax.HandleAjaxFailure" }))
{
    @Html.AntiForgeryToken()
    <fieldset class="fieldset-form auto-focus">
        @Html.ValidationSummary(true)
        <dl>
            <dt>@Html.LabelFor(m => m.CurrentPassword)</dt>
            <dd>@(Html.Kendo().TextBoxFor(m => m.CurrentPassword)
                    .HtmlAttributes(new { type = "password" }))
                @Html.ValidationMessageFor(m => m.CurrentPassword)</dd>
            <dt>@Html.LabelFor(m => m.NewPassword)</dt>
            <dd>@(Html.Kendo().TextBoxFor(m => m.NewPassword)
                    .HtmlAttributes(new { type = "password" }))
                @Html.ValidationMessageFor(m => m.NewPassword)</dd>
            <dt>@Html.LabelFor(m => m.VerifyNewPassword)</dt>
            <dd>@(Html.Kendo().TextBoxFor(m => m.VerifyNewPassword)
                    .HtmlAttributes(new { type = "password" }))
                @Html.ValidationMessageFor(m => m.VerifyNewPassword)</dd>
        </dl>
        <div class="main-button-group">
            @(Html.Kendo().Button()
                .Name("changePassword")
                .Icon("save")
                .HtmlAttributes( new {type = "submit", @class = "k-primary" } )
                .Content(Resources.Global.SaveChanges))

            @(Html.Kendo().Button()
                .Name("cancelTwoStep")
                .Icon("cancel")
                .HtmlAttributes(new { type = "button" })
                .Content(Resources.Global.Cancel)
                .Events(e=>e.Click("CancelPasswordClick")))
        </div>
    </fieldset>
}

<script type="text/javascript">
    function CancelPasswordClick() {
        window.location.href='@this.GetParentUrl()';
    }
</script>