@using TCAdmin.Web.MVC.Models.Shared

<!DOCTYPE html>
@* Add controller and action so specific pages can be targeted with css *@
<html class="@(ViewContext.RouteData.Values["controller"])_@(ViewContext.RouteData.Values["action"])">
<head>
    @Html.Action("_Background", "Header")
    @Html.Partial("_Head")
    @RenderSection("head", required: false)
</head>
<body>
    @(Html.Kendo().Notification()
                .Name("popupNotification")
    )
    <div id="wrapper">
        @Html.Action("_Header", "Header", new { title = ViewBag.Title })
        <div id="content">
            <div id="sidebar">
                @RenderSection("sidebar", required: false)
            </div>
            <div id="main">
                <div class="header">@Html.Partial("_MainHeader")</div>
                <div class="detail">
                    @RenderBody()
                </div>
            </div>
            <div class="clear-both push"></div>
            @Html.Partial("_Dialogs")
        </div>
        @Html.Action("_Footer", "Footer")
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
