@model Models.Base.PasswordRecoveryModel

@{
    ViewBag.Title = Resources.Base.Login.TitlePasswordRecovery;
    Layout = this.GetTemplateFile("Shared/Simple.cshtml", true);
}

@section head{
    @Styles.Render(this.GetTemplateFile("Base/Login/Index.css"))
}

<script type="text/javascript">
    $(function () { $("#cancel").button({ icons: { primary: "ui-icon-cancel" }, text: true }); });
</script>

<section id="loginSection">
    <div class="frame">
        <img class="logo" src="@Url.Content(this.GetTemplateLogo(false))" />
        @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "TCAdmin.Ajax.HandleAjaxResult", OnFailure = "TCAdmin.Ajax.HandleAjaxFailure" }))
        {
            @Html.AntiForgeryToken()
            @Html.EncryptedHiddenFor(m => m.RequireCode)
    <fieldset>
        <ul>
            <li>
                @if (Model.RequireCode)
                {
                    @Html.HiddenFor(m => m.UserNameOrEmail)
                    @Html.LabelFor(m => m.Code)
                    @Html.Kendo().TextBoxFor(m => m.Code)
                    @Html.ValidationMessageFor(m => m.Code)
                }
                else
                {
                    @Html.LabelFor(m => m.UserNameOrEmail)
                    @(Html.Kendo().TextBoxFor(m => m.UserNameOrEmail)
                            .Value(string.IsNullOrEmpty(Model.UserNameOrEmail) ? TCAdmin.SDK.Web.Session.GetSavedUserName() : Model.UserNameOrEmail))
                    @Html.ValidationMessageFor(m => m.UserNameOrEmail)
                }
            </li>
            <li>@Html.ValidationSummary(true)</li>
        </ul>

        @(Html.Kendo().Button()
                .Name("recoverPassword")
                .Icon("unlock")
                .HtmlAttributes( new {type = "submit", @class = "k-primary" } )
                .Content(Resources.Base.Login.Recover))

        @(Html.Kendo().Button()
                .Name("cancelRecovery")
                .Icon("cancel")
                .HtmlAttributes(new { type = "button" })
                .Content(Resources.Global.Cancel)
                .Events(e=>e.Click("CancelRecoveryClick")))
    </fieldset>
        }
    </div>
</section>

<script type="text/javascript">
    function CancelRecoveryClick() {
        window.location.href='@Url.Action("Index", "Login")';
    }
</script>